In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# File to Load
aug22_data_path = Path("Original Datasets/JC-202208-citibike-tripdata.csv")
sep22_data_path = Path("Original Datasets/JC-202209-citibike-tripdata.csv")
oct22_data_path = Path("Original Datasets/JC-202210-citibike-tripdata.csv")
nov22_data_path = Path("Original Datasets/JC-202211-citibike-tripdata.csv")
dec22_data_path = Path("Original Datasets/JC-202212-citibike-tripdata.csv")
jan23_data_path = Path("Original Datasets/JC-202301-citibike-tripdata.csv")
feb23_data_path = Path("Original Datasets/JC-202302-citibike-tripdata.csv")
mar23_data_path = Path("Original Datasets/JC-202303-citibike-tripdata.csv")
apr23_data_path = Path("Original Datasets/JC-202304-citibike-tripdata.csv")
may23_data_path = Path("Original Datasets/JC-202305-citibike-tripdata.csv")
jun23_data_path = Path("Original Datasets/JC-202306-citibike-tripdata.csv")
jul23_data_path = Path("Original Datasets/JC-202307-citibike-tripdata.csv")

In [3]:
# Read the CSV file
aug22_data = pd.read_csv(aug22_data_path, low_memory=False)
sep22_data = pd.read_csv(sep22_data_path, low_memory=False)
oct22_data = pd.read_csv(oct22_data_path, low_memory=False)
nov22_data = pd.read_csv(nov22_data_path, low_memory=False)
dec22_data = pd.read_csv(dec22_data_path, low_memory=False)
jan23_data = pd.read_csv(jan23_data_path, low_memory=False)
feb23_data = pd.read_csv(feb23_data_path, low_memory=False)
mar23_data = pd.read_csv(mar23_data_path, low_memory=False)
apr23_data = pd.read_csv(apr23_data_path, low_memory=False)
may23_data = pd.read_csv(may23_data_path, low_memory=False)
jun23_data = pd.read_csv(jun23_data_path, low_memory=False)
jul23_data = pd.read_csv(jul23_data_path, low_memory=False)

In [4]:
# Check one of the dataframe
aug22_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,Columbus Drive,JC014,Hamilton Park,JC009,40.718355,-74.038914,40.727596,-74.044247,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,Columbus Drive,JC014,Montgomery St,JC099,40.718355,-74.038914,40.719420,-74.050990,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736982,-74.027781,40.742677,-74.051789,member

In [5]:
append_df = aug22_data.append([sep22_data, oct22_data, nov22_data, dec22_data,
                              jan23_data, feb23_data, mar23_data, apr23_data,
                              may23_data, jun23_data, jul23_data], ignore_index=True)

C:\Users\akbar\AppData\Local\Temp\ipykernel_15292\444086811.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_df = aug22_data.append([sep22_data, oct22_data, nov22_data, dec22_data,

In [6]:
# Check data type in one of the dataframe
append_df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981011 entries, 0 to 981010
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             981011 non-null  object
 1   rideable_type       981011 non-null  object
 2   started_at          981011 non-null  object
 3   ended_at            981011 non-null  object
 4   start_station_name  980936 non-null  object
 5   start_station_id    980936 non-null  object
 6   end_station_name    977641 non-null  object
 7   end_station_id      977641 non-null  object
 8   start_lat           981011 non-null  float64
 9   start_lng           981011 non-null  float64
 10  end_lat             979712 non-null  float64
 11  end_lng             979712 non-null  float64
 12  member_casual       981011 non-null  object
dtypes: float64(4), object(9)
memory usage: 97.3+ MB

In [7]:
# Change data types to reduce memory usage
append_df['rideable_type'] = append_df['rideable_type'].astype('category')

append_df['started_at'] = pd.to_datetime(append_df['started_at'])
append_df['ended_at'] = pd.to_datetime(append_df['ended_at'])

append_df['start_lat'] = append_df['start_lat'].astype('float32')
append_df['start_lng'] = append_df['start_lng'].astype('float32')
append_df['end_lat'] = append_df['end_lat'].astype('float32')
append_df['end_lng'] = append_df['end_lng'].astype('float32')

append_df['member_casual'] = append_df['member_casual'].astype('category')

In [8]:
# Check data type in one of the dataframe
append_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981011 entries, 0 to 981010
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             981011 non-null  object
 1   rideable_type       981011 non-null  category
 2   started_at          981011 non-null  datetime64[ns]
 3   ended_at            981011 non-null  datetime64[ns]
 4   start_station_name  980936 non-null  object
 5   start_station_id    980936 non-null  object
 6   end_station_name    977641 non-null  object
 7   end_station_id      977641 non-null  object
 8   start_lat           981011 non-null  float32
 9   start_lng           981011 non-null  float32
 10  end_lat             979712 non-null  float32
 11  end_lng             979712 non-null  float32
 12  member_casual       981011 non-null  category
dtypes: category(2), datetime64[ns](2), float32(4), object(5)
memory usage: 69.2+ MB

In [9]:
# Get all the header row
header_row = append_df.columns
header_row

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [10]:
# Define the new header
new_header = 'ride_duration'

# Calculate ride duration and add it as a new column
append_df['ride_duration'] = pd.to_datetime(append_df['ended_at']) - pd.to_datetime(append_df['started_at'])

# Reorder the columns
new_append_one_year = append_df[['ride_id', 'rideable_type', 'started_at', 'ended_at','ride_duration','start_station_name',
         'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
         'end_lat', 'end_lng', 'member_casual']]

# Display the modified DataFrame
new_append_one_year.head()

,ride_id,rideable_type,started_at,ended_at,ride_duration,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,D68047AAA9A72501,classic_bike,2022-08-12 18:14:45,2022-08-12 18:21:23,0 days 00:06:38,Columbus Drive,JC014,Hamilton Park,JC009,40.718357,-74.038918,40.727596,-74.044250,member
1,E5B82A9F588A7650,classic_bike,2022-08-19 01:04:39,2022-08-19 01:14:10,0 days 00:09:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736980,-74.027779,40.745983,-74.028198,member
2,13D19CCBCC9D7B76,classic_bike,2022-08-19 18:13:45,2022-08-19 19:32:47,0 days 01:19:02,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736980,-74.027779,40.749985,-74.027153,member
3,AA0DBFF220DA98F6,classic_bike,2022-08-21 13:43:05,2022-08-21 13:53:13,0 days 00:10:08,Columbus Drive,JC014,Montgomery St,JC099,40.718357,-74.038918,40.719421,-74.050987,member
4,8F11D340492FCD32,electric_bike,2022-08-04 22:02:12,2022-08-04 22:21:31,0 days 00:19:19,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Pershing Field,JC024,40.736980,-74.027779,40.742676,-74.051788,member

In [11]:
# Check data type in the merged the dataframe
new_append_one_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981011 entries, 0 to 981010
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             981011 non-null  object
 1   rideable_type       981011 non-null  category
 2   started_at          981011 non-null  datetime64[ns]
 3   ended_at            981011 non-null  datetime64[ns]
 4   ride_duration       981011 non-null  timedelta64[ns]
 5   start_station_name  980936 non-null  object
 6   start_station_id    980936 non-null  object
 7   end_station_name    977641 non-null  object
 8   end_station_id      977641 non-null  object
 9   start_lat           981011 non-null  float32
 10  start_lng           981011 non-null  float32
 11  end_lat             979712 non-null  float32
 12  end_lng             979712 non-null  float32
 13  member_casual       981011 non-null  category
dtypes: category(2), datetime64[ns](2), float32(4), object(5), timedelta64[ns](1)
memory usage: 76.7+ MB

In [12]:
# Check total rows and columns
new_append_one_year.shape

(981011, 14)

In [13]:
# Check total number of missing values in each columns
new_append_one_year.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
ride_duration            0
start_station_name      75
start_station_id        75
end_station_name      3370
end_station_id        3370
start_lat                0
start_lng                0
end_lat               1299
end_lng               1299
member_casual            0
dtype: int64

In [14]:
# Create a copy of the DataFrame and drop NaN values
copy_dataframe = new_append_one_year.copy()

In [15]:
# Drop missing values in the dataframe 
copy_dataframe.dropna(inplace=True)

In [16]:
# Check if missing values have been dropped
copy_dataframe.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
ride_duration         0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [ ]:
NY_citibike_cleaned = copy_dataframe
NY_citibike_cleaned.to_csv('Cleaned_Dataset/cleaned_data.csv',index=False)